/*
 * Noto Sans Malayalam (Malayalam) http://www.google.com/https://github.com/kcdp/kcdp.github.io/blob/master/fonts/earlyaccess
 */
@import url(https://fonts.googleapis.com/earlyaccess/notosansmalayalam.css);

body {
  font-family: 'Noto Sans Malayalam', sans-serif;
}

.faq-section {
  background: #fdfdfd;
  min-height: 100vh;
  padding: 10vh 0 0;
}

.faq-title h2 {
  position: relative;
  margin-bottom: 45px;
  display: inline-block;
  font-weight: 400;
  line-height: 1;
}

.faq-title h2::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 60px;
  height: 2px;
  background: #E91E63;
  bottom: -25px;
  margin-left: -30px;
}

.faq-title p {
  padding: 0 190px;
  margin-bottom: 10px;
}

.faq {
  background: #FFFFFF;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
  border-radius: 4px;
}

.faq .card {
  border: none;
  background: none;
  border-bottom: 1px dashed #CEE1F8;
}

.faq .card .card-header {
  padding: 0px;
  border: none;
  background: none;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.faq .card .card-header:hover {
  background: rgba(233, 30, 99, 0.1);
  padding-left: 10px;
}

.faq .card .card-header .faq-title {
  width: 100%;
  text-align: left;
  padding: 0px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
  color: #3B566E;
  text-decoration: none !important;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
}

.faq .card .card-header .faq-title .badge {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 14px;
  float: left;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  text-align: center;
  background: #E91E63;
  color: #fff;
  font-size: 12px;
  margin-right: 20px;
}

.faq .card .card-body {
  padding: 30px;
  padding-left: 35px;
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  color: #6F8BA4;
  line-height: 28px;
  letter-spacing: 1px;
  border-top: 1px solid #F3F8FF;
}

.faq .card .card-body p {
  margin-bottom: 14px;
}

/* Share Button */
.sharede, .sharesimply {
  position: relative;
}

.sharesimply {
  margin: 20px auto 0 auto;
}

.sharesimply a.fb, .sharesimply a.gp, .sharesimply a.tw, .sharesimply a.wa {
  position: relative;
  display: inline-block;
  margin: 0 0 5px 0;
  color: #fff;
  text-shadow: none;
  padding: 12px 0;
  width: 15%;
  font-size: 16px;
  font-weight: 700;
  overflow: hidden;
  transition: all .3s
}

.sharesimply a.gp {
  background: #f20000;
}

.sharesimply a.fb {
  background: #516ca4;
}

.sharesimply a.tw {
  background: #00baff;
}

.sharesimply a.wa {
  background: #14e715;
}

.fb, .gp, .plus, .tw, .wa {
  font-size: 2.5rem;
  vertical-align: middle;
  position: absolute;
  left: 5px;
  top: 5px;
  color: rgba(255, 255, 255, .5);
  transition: all .3s
}

.sharesimply a:hover .fb, .sharesimply a:hover .gp, .sharesimply a:hover .plus, .sharesimply a:hover .tw, .sharesimply a:hover .wa {
  color: rgba(255, 255, 255, .3);
  transform: scale(1.3) rotate(-20deg)
}

.sharesimply a.fb:hover, .sharesimply a.gp:hover, .sharesimply a.tw:hover, .sharesimply a.wa:hover {
  color: #fff;
  background: #333;
}

.sharesimply a.fb:active, .sharesimply a.gp:active, .sharesimply a.tw:active, .sharesimply a.wa:active {
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, .16)
}

.bottomshare {
  display: block;
  padding: 0 20px;
  margin-bottom: 20px;
  text-align: center
}

@media (max-width: 991px) {
  .faq {
    margin-bottom: 30px;
  }

  .faq .card .card-header .faq-title {
    line-height: 26px;
    margin-top: 10px;
  }
}
