@import url(https://fonts.googleapis.com/earlyaccess/notosansmalayalam.css);

body {
  font-family: 'Noto Sans Malayalam', sans-serif;
  padding: 10px;
}

[v-cloak] { display: none; }
div.highlight {
  display: inline;
  box-shadow: 0 0 0.5em red;
  padding: 0.125em;
  border-radius: 0.5em;
}
.btn {
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.5), rgba(255,255,255,0.2) 49%, rgba(0,0,0,0.15) 51%, rgba(0,0,0,0.05));
  background-repeat: repeat-x;
}
